<%- include ("./partials/header") %>
    <h1>YFFY</h1>

    <p>Queer Asian collective YFFY (Connie Fu and Jungmok Yi) engage in transdisciplinary practice to create sensory social environments that hold space for interwoven experiences of queerness and time. For if time is nonlinear, going about in nested orbits or numerous simultaneities, then the navigation of time as such is inherently queer. The core of YFFY's projects is to drive recognition that freely navigable time and queer existence in social spaces of the real go hand in hand.</p>

       <p>The constraining of time into linear chronology allows for debased arguments that embodied queerness is an aberration best stamped from lineage and collective history. By setting flexible physical and social parameters and destabilizing categories of performer/spectator and tradition preserver/tradition maker, YFFY and collaborators practice radical engagement with crystalline moments in time. The moment in question is not one in a series from past to present to future, but rather an instant framed as cyclic and infinite. This method allows for open-ended interaction, discourse, and play to emerge as guiding principles for how we communicate and share space.</p>
        
        <p>okokokokFu's Chinese and Yi's Korean ancestry are frequently embedded in project parameters. Traditional customs and rituals influence performances and chosen materials, resulting in contemporary manifestations. In so doing YFFY acknowledges that the so-called past is not recoverable, and yet ancestral lives carry on through the bodies of those who work to reshape the rituals, and ways of living, in their own image.</p>
    <p>
        <img src = "views\images\map1.jpg">
    </p>
    <p>
        <a href = "/arenas">Enter</a>
    </p>


<%- include ("./partials/footer") %>